<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <!--<add assembly="DevExpress.Web.v15.1, Version=15.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Data.v15.1, Version=15.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Printing.v15.1.Core, Version=15.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>-->
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <!--<add assembly="DevExpress.RichEdit.v15.1.Core, Version=15.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>-->
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <connectionStrings>
    <add name="ketnoi" connectionString="Data Source=DESKTOP-U0AFPMO; Initial Catalog=QL_WEBLUNA; User ID=sa; Password=123"
      providerName="System.Data.SqlClient" />
    <add name="QL_WEBLUNAConnectionString" connectionString="Data Source=DESKTOP-U0AFPMO; Initial Catalog=QL_WEBLUNA; User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="QL_WEBLUNAConnectionString2" connectionString="Data Source=DESKTOP-U0AFPMO;Initial Catalog=QL_WEBLUNA;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
    <!--<add name="QL_WEBLUNAConnectionString" connectionString="Data Source=TRANHUYNH\SQLEXPRESS;Initial Catalog=QL_WEBLUNA;Persist Security Info=True;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />-->
    <!--<add name="QL_WEBLUNAConnectionString" connectionString="Data Source=TRANHUYNH\SQLEXPRESS;Initial Catalog=QL_WEBLUNA;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>